{
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "require-jsdoc": [
      "error",
      {
        "require": {
          "ClassDeclaration": true,
          "FunctionDeclaration": true,
          "MethodDefinition": true
        }
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "matchDescription": ".+",
        "requireParamDescription": true,
        "requireParamType": true,
        "requireReturnType": true
      }
    ]
  }
}